<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppVersion</key>
	<string>Ver. 1.0.0</string>
	<key>GATrackingID</key>
	<string>UA-62241734-1</string>
	<key>LoadingPostDisplay</key>
	<false/>
	<key>LoadingDetailDisplay</key>
	<false/>
	<key>LoadingListDsiplay</key>
	<false/>
	<key>WebViewURLPost</key>
	<string>https://up.myreco.me/posts/&lt;?post_pk&gt;/</string>
	<key>WebViewURLTerms</key>
	<string>https://up.myreco.me/terms/?d=ios</string>
	<key>WebViewURLNoPasswd</key>
	<string>https://up.myreco.me/account/password/reset/?d=ios</string>
	<key>WebViewURLChangePasswd</key>
	<string>https://up.myreco.me/account/password/change/?d=ios</string>
	<key>WebViewURLProAccount</key>
	<string>https://up.myreco.me/proaccount/?d=ios</string>
	<key>WebViewURLContact</key>
	<string>https://up.myreco.me/contact/?d=ios</string>
	<key>WebViewURLPolicy</key>
	<string>https://up.myreco.me/privacy/?d=ios</string>
	<key>WebViewURLVersion</key>
	<string>https://up.myreco.me/version/?d=ios</string>
	<key>BaseProApiURI</key>
	<string>https://up.myreco.me/</string>
	<key>BaseDevApiURI</key>
	<string>http://pico.flasco.co.jp</string>
	<key>BaseApiURI</key>
	<string>https://up.myreco.me/</string>
	<key>ApiPathCheckUser</key>
	<string>/api/1/auth/check_existence/</string>
	<key>ApiPathInsertUser</key>
	<string>/api/1/auth/registration/</string>
	<key>ApiPathSendLogin</key>
	<string>/api/1/auth/login/</string>
	<key>ApiPathSendLogOut</key>
	<string>/api/1/auth/logout/</string>
	<key>ApiPathSendTwLogin</key>
	<string>/api/1/auth/twitter/login/</string>
	<key>ApiPathSendFbLogin</key>
	<string>/api/1/auth/facebook/login/</string>
	<key>ApiPathPostDevice</key>
	<string>/api/1/notification/register/</string>
	<key>ApiPathPostTwToken</key>
	<string>/api/1/auth/twitter/register/</string>
	<key>ApiPathPostFbToken</key>
	<string>/api/1/auth/facebook/register/</string>
	<key>ApiPathGetSetting</key>
	<string>/api/1/auth/user/setting/</string>
	<key>ApiPathPutSetting</key>
	<string>/api/1/auth/user/setting/</string>
	<key>ApiPathInfos</key>
	<string>/api/1/notification/messages/</string>
	<key>ApiPathInfoCount</key>
	<string>/api/1/notification/messages/count/</string>
	<key>ApiPathPostPost</key>
	<string>/api/1/posts/</string>
	<key>ApiPathGetPosts</key>
	<string>/api/1/posts/</string>
	<key>ApiPathGetRankings</key>
	<string>/api/1/ranking/</string>
	<key>ApiPathGetPost</key>
	<string>/api/1/posts/&lt;?post_pk&gt;/</string>
	<key>ApiPathGetUserInfo</key>
	<string>/api/1/auth/user/</string>
	<key>ApiPathGetUser</key>
	<string>/api/1/users/&lt;?user_pk&gt;/</string>
	<key>ApiPathPatchUserInfo</key>
	<string>/api/1/auth/user/</string>
	<key>ApiPathGetFollowings</key>
	<string>/api/1/users/&lt;?user_pk&gt;/following/</string>
	<key>ApiPathGetFollowers</key>
	<string>/api/1/users/&lt;?user_pk&gt;/followers/</string>
	<key>ApiPathGetFollow</key>
	<string>/api/1/users/&lt;?user_pk&gt;/follow/</string>
	<key>ApiPathPutFollow</key>
	<string>/api/1/users/&lt;?user_pk&gt;/follow/</string>
	<key>ApiPathDeleteFollow</key>
	<string>/api/1/users/&lt;?user_pk&gt;/follow/</string>
	<key>ApiPathGetLike</key>
	<string>/api/1/posts/&lt;?post_pk&gt;/like/</string>
	<key>ApiPathGetLikes</key>
	<string>/api/1/posts/&lt;?post_pk&gt;/likes/</string>
	<key>ApiPathPostLike</key>
	<string>/api/1/posts/&lt;?post_pk&gt;/likes/</string>
	<key>ApiPathDeleteLike</key>
	<string>/api/1/posts/&lt;?post_pk&gt;/likes/</string>
	<key>ApiPathGetComments</key>
	<string>/api/1/posts/&lt;?post_pk&gt;/comments/</string>
	<key>ApiPathPostComment</key>
	<string>/api/1/posts/&lt;?post_pk&gt;/comments/</string>
	<key>ApiPathDeleteComment</key>
	<string>/api/1/posts/&lt;?post_pk&gt;/comments/&lt;?pk&gt;/</string>
	<key>ApiPathGetPopUsers</key>
	<string>/api/1/popular/</string>
	<key>ApiPathGetCategories</key>
	<string>/api/1/categories/?limit=1000</string>
	<key>ApiPathGetChildCategories</key>
	<string>/api/1/categories/&lt;?parent_pk&gt;/children/</string>
	<key>ApiPathGetAreas</key>
	<string>/api/1/areas/?limit=1000</string>
	<key>ApiPathGetPostsByTag</key>
	<string>/api/1/tags/&lt;?tag&gt;/</string>
	<key>ApiPathGetPostsByWord</key>
	<string>/api/1/posts/?word=&lt;?word&gt;</string>
	<key>AllCategoryPk</key>
	<string>166</string>
	<key>FollowCategoryPk</key>
	<string>165</string>
	<key>UserNoImageIconPath</key>
	<string>https://d156hx2c6766mc.cloudfront.net/user/366/icon/1456199144_icon</string>
	<key>MyReco</key>
	<dict>
		<key>top</key>
		<string>https://myreco.me</string>
		<key>suffix</key>
		<string>?utm_source=ios&amp;utm_medium=news&amp;utm_campaign=myrecoup</string>
	</dict>
	<key>ApiPathSendBird</key>
	<dict>
		<key>top</key>
		<string>https://api.sendbird.com/</string>
		<key>user</key>
		<dict>
			<key>create</key>
			<string>user/create</string>
		</dict>
	</dict>
</dict>
</plist>
